<h2>History</h2>
<div class="input-group">
  <span class="input-group-addon">Minimum temperature:</span>
  <input class="form-control" type="number" ng-model="minimumTemperature">
  <span class="input-group-addon">&deg;C</span>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Day</th>
    <th>Temperature</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="value in weather | minimum:minimumTemperature">
    <td>{{ value.day | date:"MMM d" }}</td>
    <td>{{ value.temperature }}</td>
  </tr>
  </tbody>
</table>